<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
 
  <!-- Le styles -->
    <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.url }}/css/batch-icons/batch.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Titillium+Web:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ site.url }}/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/css/app.css">

</head>